
<div class="address-header">
    <img src="../src/icons/pin.png" id="address-pin"/>
    <div class="address-title">{{addressString}}</div>
    <img src="../src/icons/x.png" alt="x" id="address-close"/>
</div>

<div class="feedbacks">
{{#if hasNoFeedbacks}}
    <div class="empty">Отзывов пока нет...</div>
{{else}}
<ul class="feedback-list">
    {{#each feedbacks}}
        <li class="feedback-item">
            <div class="feedback-title">
                <span class="feedback-name">{{userName}}</span>
                <span class="feedback-place">{{place}}</span>
                <span class="feedback-date">{{dateFormatted}}</span>
            </div>
            <div class="feedback-message">
                {{message}}
            </div>
        </li>
    {{/each}}
</ul>
 {{/if}}
</div>

<div class="new-feedback">
    <h2>ВАШ ОТЗЫВ</h2>
    <input id="new-user" type="text" placeholder="Ваше имя" required/>
    <input id="new-place" type="text" placeholder="Укажите место" required/>
    <textarea class="textarea" id="new-opinion" placeholder="Поделитесь впечатлениями"  maxlength="500" required></textarea>
    <div class="button-container">
        <button id="add-feedback">Добавить</button>
    </div>   
</div>