<div class="address-popup">
    <div class="address-header">
        <div class="address">{{addressString}}</div>
        <div class="popup-close-btn">
            <img src="src/icons/x.png" alt="x" id="address-close"/>
        </div>
    </div>

    <div class="feedbacks">
    {{#if hasNoFeedbacks}}
        <div class="empty">Отзывов пока нет</div>
    {{else}}
    {{#each feedbacks}}
        <div class="feedback">
            <div class="feedback-header">
                <div class="user-name">{{userName}}</div>
                <div class="place">{{place}}</div>
                <div class="date">{{dateFormatted}}</div>
            </div>
            <div class="feedback-msg">{{message}}</div>
        </div>
    {{/each}}
    {{/if}}
    </div>
    <div class="new-feedback">
        <h3>ВАШ ОТЗЫВ</h3>
        <input id="new-user" type="text" placeholder="Ваше имя" required/>
        <input id="new-place" type="text" placeholder="Укажите место" required/>
        <input id="new-opinion" type="textarea" placeholder="Поделитесь впечатлениями"  maxlength="500" required/>
        <button id="add-feedback">Добавить</button>
    </div>
</div>
